<h1 class="titulo">LISTA DE TODAS LAS TAREAS DESTACADAS</h1>
<div class="tareas-highlighted">
  <div fxLayout="row wrap">
    <div fxFlex="25%" *ngFor="let tarea of tareas">
      <mat-card class="tarea mat-elevation-z4">
        <mat-card-subtitle>{{ tarea.date | date: "d-MM-Y" }}</mat-card-subtitle>
        <mat-card-title>{{ tarea.title }}</mat-card-title>
        <mat-card-content>
          <p>{{ tarea.description }}</p>
        </mat-card-content>

        <mat-card-content>
          <p>{{ tarea.categorias }}</p>
        </mat-card-content>

        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <a mat-button [routerLink]="['/tarea/edit', tarea.id]" color="accent"
            >Edit</a
          >
          <a
            mat-raised-button
            [routerLink]="['/tarea/delete', tarea.id]"
            color="warn"
            >Delete</a
          >
        </mat-card-actions>
      </mat-card>
      <p></p>
    </div>
  </div>
</div>
