.categoria-container {
  margin: 0 auto;
  padding: 0 20px;
  width: 50%;
  border-radius: 10px;
  padding: 40px;
}

mat-chip {
  mat-chip-avatar {
    span.categoria-color {
      height: 2em;
      width: 2em;
    }
  }
}

mat-card-title {
  padding-right: 0.5em;
  text-align: center;

  a {
    white-space: pre-wrap;
    text-align: start;
  }
}

mat-card-content {
  font-style: italic;
}

.title-wrapper {
  text-align: center;
  margin: 2em;

  .titulo {
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
  }
}
